
.title {
	text-align: center;
	font-size: 2em;
  margin-top: 2em;
	/* Neumorphism css: https://neumorphism.io/#e0e0e0 */
	/* border: none;
	color: rgb(0, 75, 175);;
	text-shadow:  3px 3px 6px #bebebe,
             -3px -3px 6px #ffffff; */
}

.catalog {
	display: flex;
  	flex-wrap: wrap;
	justify-content: center;
    align-items: baseline;
}

.catalog > div {
    flex-basis: 25em;
    flex-grow: 1;
}

.hotel-pool, .hotel-hot-tub, .hotel-amenity {
  display: inline-block;
  margin-right: 1rem;
  /* Add icons or background images for pool and hot tub */
}


.hotel-pricing,
.hotel-rating {
  text-align: left; /* Align text to the left */
  display: block; /* Each element will take the full width available */
  margin-right: 0; /* Reset any right margin if present */
}

/* Additional styling to ensure the container of the hotel price and rating aligns them to the left */
.pane {
  display: flex; /* Use flexbox for the layout */
  flex-direction: column; /* Stack children elements vertically */
  align-items: flex-start; /* Align children to the start of the cross axis (to the left) */
}

/* If you want the price and rating to be inline, you can use the following */
.hotel-pricing,
.hotel-rating {
  display: inline-block; /* Allows elements to sit next to each other */
  margin-right: 1rem; /* Adds a small margin to the right of each element */
}

.hotel-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
  color: #e90000; /* Price colour */
}

.hotel-per-night {
  font-size: 0.9rem;
  color: #666;
  margin-left: 5px;
}


.hotel-rating-number {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4caf50; /* Score colour */
}
