
.title {
  margin-top: 2em;
}

.catalog {
	display: flex;
  	flex-wrap: wrap;
	justify-content: center;
    align-items: baseline;
}

.catalog > div {
    flex-basis: 25em;
    flex-grow: 1;
}
