
/* CSS math functions https://www.w3schools.com/css/css_math_functions.asp */
body {
	font-family: Calibri, sans-serif;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, b {
	font-family: sans-serif;
}
img {
	display: block;
}

/* paragraph indent: https://www.w3schools.com/cssref/pr_text_text-indent.php */
p {
	text-indent: 2em;
	/* max-width: 40em; */
}

a {
	color:rgb(0, 175, 175);
}
/* hover selector: https://www.w3schools.com/cssref/sel_hover.php */
a:hover {
	color:rgb(0, 175, 100);
}
/* mouse down selector: https://stackoverflow.com/questions/16715274/what-is-the-mouse-down-selector-in-css */
a:active {
	color:rgb(0, 119, 67);
}

/* child selector: https://developer.mozilla.org/en-US/docs/Web/CSS/Child_combinator */
a > img {
	border-style: none none solid none;
	border-width: 0.4em;
	border-color:rgb(0, 175, 175);
}
a > img:hover {
	border-color:rgb(0, 175, 100);
}
a > img:active {
	border-color:rgb(0, 119, 67);
}



.background {
	position: relative;
	width: 100%;
}
.background > img {
	width: 100%;
}
.background > h1 {
	font-size: 3rem;
	color: white;

	padding: 1em;
	margin: 0;

	position: absolute;

	top: 15%;
	left: 20%;
}

.navigation {
	display: flex;
	justify-content: center;

	margin-top: -20px;

	position: sticky;
	top: 10px;
	bottom: 10px;
}
.navigation > nav {
	background: rgba(255, 255, 255);
	display: flex;
	align-items: center;
	padding: 5px;
	border-radius: 10px;

	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.navigation > nav > button {
	margin: 5px;
}
.navigation > nav > h1 {
	margin: 0px;
	padding-left: 1em;
	padding-right: 30px;
}

button {
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	padding-left: 1em;
	padding-right: 1em;

	border: none;
	border-radius: 5px;

	background-color: rgb(242, 242, 242);

	transition: background-color 0.1s ease-in-out;
}
button:hover {
	background-color: rgb(230, 230, 230);
}
button:active {
	transform: perspective(1000px) translateZ(-40px);
}