
/* CSS math functions https://www.w3schools.com/css/css_math_functions.asp */
body {
	font-family: Calibri, sans-serif;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, b {
	font-family: sans-serif;
}
img {
	border-radius: 10px;
}
img, section {
	display: inline-block;
}

p {
	text-indent: 2em;
	/* max-width: 40em; */
}

a {
	color:rgb(0, 175, 175);
}
a:hover {
	color:rgb(0, 175, 100);
}
a:active {
	color:rgb(0, 119, 67);
}

a > img {
	border-style: none none solid none;
	border-width: 0.4em;
	border-color:rgb(0, 175, 175);
}
a > img:hover {
	border-color:rgb(0, 175, 100);
}
a > img:active {
	border-color:rgb(0, 119, 67);
}

button {
	font-size: 1em;

	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.7em;
	padding-right: 0.7em;

	border: none;
	border-radius: 5px;

	background-color: rgb(242, 242, 242);

	transition: background-color 0.1s ease-in-out;
}
button:hover {
	background-color: rgb(230, 230, 230);
}
button:active {
	transform: perspective(1000px) translateZ(-40px);
}



.greyer, footer {
	background-color: rgb(242, 242, 242);
	padding: 0.01%;
}

.background {
	width: 100%;
	height: 100vh;
}
.background > img {
	border-radius: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.background > h1 {
	color: white;

	padding: 1em;
	margin: 0;

	position: absolute;
}

.navigation {
	display: flex;
	justify-content: center;

	margin-top: -35px;

	position: sticky;
	top: 20px;
	bottom: 20px;
}
.navigation > nav {
	background: rgba(255, 255, 255);
	display: flex;
	align-items: center;
	padding: 5px;
	border-radius: 10px;

	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.navigation > nav > a {
	margin: 5px;
}
.navigation > nav > h1 {
	margin: 0px;
	padding-left: 1em;
	padding-right: 30px;
}

.information {
	max-width: 20em;
}

.center_div {
	margin: 5%;
	display: flex;
	justify-content: center;
	gap: 3%;
}

footer {
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer > img {
	width: 2em;
	margin-right: 0.5em;
}
footer > h4 {
	display: inline-block;
	margin-right: 3em;
}