
/* CSS math functions https://www.w3schools.com/css/css_math_functions.asp */
body {
	font-family: Calibri, sans-serif;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, b {
	font-family: sans-serif;
}
img {
	border-radius: 10px;
}
img, section {
	display: block;
}

a {
	color:rgb(0, 175, 175);
}
a:hover {
	color:rgb(0, 175, 100);
}
a:active {
	color:rgb(0, 119, 67);
}

a > img {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-style: none none solid none;
	border-width: 0.4em;
	border-color:rgb(0, 175, 175);
}
a > img:hover {
	border-color:rgb(0, 175, 100);
}
a > img:active {
	border-color:rgb(0, 119, 67);
}

button,
input[type=reset],
input[type=submit],
input[type=text],
input[type=datetime-local],
textarea {
	font-size: 1em;

	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.7em;
	padding-right: 0.7em;

	border: none;
	border-radius: 5px;

	background-color: rgb(230, 230, 230);

	transition: background-color 0.1s ease-in-out;
}
button:hover,
input[type=reset]:hover,
input[type=submit]:hover,
input[type=text]:hover,
input[type=datetime-local]:hover,
textarea:hover {
	background-color: rgb(212, 212, 212);
	cursor: pointer;
}
input[type=text]:focus,
input[type=datetime-local]:focus,
textarea:focus {
	outline: none;
	background-color: rgb(212, 212, 212);

	transform: perspective(1000px) translateZ(-30px);
}
button:active,
input[type=reset]:active,
input[type=submit]:active,
input[type=text]:active,
input[type=datetime-local]:active,
textarea:active {
	transform: perspective(1000px) translateZ(-40px);
}

label {
	margin-left: 5px;
}



.greyer {
	background-color: rgb(242, 242, 242);
	padding: 0.01%;
}

.background {
	width: 100%;
	height: 100vh;
}
.background > img {
	border-radius: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.background > h1 {
	color: white;

	padding: 1em;
	margin: 0;

	position: absolute;
}

.navigation {
	display: flex;
	justify-content: center;

	margin-top: -35px;

	position: sticky;
	top: 20px;
	bottom: 20px;
}
header {
	background-color: rgba(255, 255, 255);
	border-radius: 10px;

	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

	display: inline-flex;
	align-items: center;
}
header > h2 {
	display: inline-block;
	margin: 0;
	margin-left: 0.6em;
	margin-right: 0.6em;
}
header > nav {
	display: inline-flex;
	gap: 10px;
	margin: 10px;
}

.title {
	margin: 5%;
	text-align: center;
}

.center {
	margin: 8%;
	display: flex;
	justify-content: center;
	gap: 2em;
}
.wrap {
	flex-wrap: wrap;
}
.center > div {
	max-width: 20em;
	overflow-wrap: break-word;
}
.no_max_width {
	max-width: none !important;
}
.center > img {
	max-width: 40%;
}

.middle {
	align-items: center;
}
.bottom {
	align-items: flex-end;
}

.amenities {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
  }
  .amenities > div {
	border: 1px dashed rgb(145, 145, 145);
	border-radius: 0.3em;
	padding: 0.3em;
  }
  
  .rating {
	overflow: hidden;
	background-color: rgb(255, 147, 147);
	border-radius: 0.3em;
	margin-bottom: 1.5em;
  }
  .rating > div {
	background-color: rgb(157, 255, 157);
	padding: 0.3em;
  }

footer {
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
	
	background-color: rgb(242, 242, 242);
}
footer > #socials {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em 3em;
}
footer > #socials > div {
	display: flex;
	align-items: center;
	gap: 0.5em;
}
footer > #socials > div > img {
	width: 2em;
}
footer > #socials > div > h4 {
	margin: 0;
}
footer > #meta {
	flex-shrink: 0;
	display: flex;
	gap: 1em;
}

li {
	margin-bottom: 1em;
}