
#desc_checkout {
	display: flex;
	justify-content: space-between; /* Changed from 'left' to 'space-between' for better spacing */
	align-items: flex-start;
	margin-left: 3rem;

	overflow: visible;
}

#desc {
	flex-grow: 1;
}

#checkout {
	flex-shrink: 0;
	/* sticky positioning: https://elad.medium.com/css-position-sticky-how-it-really-works-54cd01dc2d46 */
	position: sticky;
	top: 3rem;
}

#amenities {
	display: flex;
	flex-wrap: wrap;
}
.amenity {
	display: inline-block;
	padding: 0.8em;
	margin: 7px;
}

#hotel-price {
	display: inline-block;
	margin: 0;
	margin-left: 2em;
}

@media (max-width: 70rem) {
	#desc_checkout {
		margin: 3rem;
		flex-direction: column;
		align-items: stretch;
	}
	#desc, #checkout {
		max-width: 100%; /* Full width for smaller screens */
		order: 0; /* Reset the order to ensure consistency */
	}
	#checkout {
		position: static;
		order: 0;
	}
}
