
.background > h1 {
	font-size: 3em;

	top: 10%;
	left: 20%;
}

#perc1 {width: 90%;}
#perc2 {width: 84%;}
#perc3 {width: 88%;}
#perc4 {width: 82%;}
#perc5 {width: 80%;}
#perc6 {width: 88%;}
#perc7 {width: 88%;}
#perc8 {width: 88%;}
#perc9 {width: 82%;}
#perc10 {width: 84%;}