
.background > h1 {
	font-size: 3.5em;

	top: 9%;
	right: 17%;
}

.center_div {
	gap: 3em;
}

#swatches {
	display: flex;

	border-radius: 10px;
	overflow: hidden;
}
#swatches > div {
	padding: 0.5em;
}

.center_div {
	flex-wrap: wrap;
}

#inspirations {
	margin: 5%;
	border-radius: 10px;
	overflow: hidden;
}
#inspirations > img {
	width: 100%;
	border-radius: 0;
}

#combined_elements {
	flex-flow: column nowrap;
}
#combined_elements > section {
	max-width: none;
}

.rendered_element {
	border: 1px solid black;
	border-radius: 0.5em;
	padding: 1em;
}

code {
	display: block;
	background-color: rgb(242, 242, 242);
	padding: 1em;
	border-radius: 1em;
}